<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LoginMemberMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into XNHB_user_LOGINMEMBER(
			CREATEDATETIME,	
			UPDATEDATETIME,	
			CREATEUSER,	
			UPDATEUSER,	
			USERNAME,	
			PASSWORD,	
			DESCRIPTION,	
			LOGINMEMBER_ID
		) values (
			#{CREATEDATETIME},	
			#{UPDATEDATETIME},	
			#{CREATEUSER},	
			#{UPDATEUSER},	
			#{USERNAME},	
			#{PASSWORD},	
			#{DESCRIPTION},	
			#{LOGINMEMBER_ID}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from XNHB_user_LOGINMEMBER
		where 
			LOGINMEMBER_ID = #{LOGINMEMBER_ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  XNHB_user_LOGINMEMBER
			set 
				USERNAME = #{USERNAME},
				PASSWORD = #{PASSWORD},
				DESCRIPTION = #{DESCRIPTION},
			LOGINMEMBER_ID = LOGINMEMBER_ID
			where 
				LOGINMEMBER_ID = #{LOGINMEMBER_ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			CREATEDATETIME,	
			UPDATEDATETIME,	
			CREATEUSER,	
			UPDATEUSER,	
			USERNAME,	
			PASSWORD,	
			DESCRIPTION,	
			LOGINMEMBER_ID
		from 
			XNHB_user_LOGINMEMBER
		where 
			LOGINMEMBER_ID = #{LOGINMEMBER_ID}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.CREATEDATETIME,	
				a.UPDATEDATETIME,	
				a.CREATEUSER,	
				a.UPDATEUSER,	
				a.USERNAME,	
				a.PASSWORD,	
				a.DESCRIPTION,	
				a.LOGINMEMBER_ID
		from 
				XNHB_user_LOGINMEMBER a
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.CREATEDATETIME,	
				a.UPDATEDATETIME,	
				a.CREATEUSER,	
				a.UPDATEUSER,	
				a.USERNAME,	
				a.PASSWORD,	
				a.DESCRIPTION,	
				a.LOGINMEMBER_ID
		from 
				XNHB_user_LOGINMEMBER a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from XNHB_user_LOGINMEMBER
		where 
			LOGINMEMBER_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>