<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ArticleTypeMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into XNHB_NEWS_ARTICLETYPE(
			CREATEDATETIME,	
			CREATEUSER,	
			UPDATEDATETIME,	
			UPDATEUSER,	
			SEQ,	
			DESCRIPTION,	
			TYPENAME,	
			PID,	
			LANGUAGE,	
			KEYWORD,	
			TYPENUMBER,	
			ARTICLETYPE_ID
		) values (
			#{CREATEDATETIME},	
			#{CREATEUSER},	
			#{SEQ},	
			#{DESCRIPTION},	
			#{TYPENAME},	
			#{PID},	
			#{LANGUAGE},	
			#{KEYWORD},	
			#{TYPENUMBER},	
			#{ARTICLETYPE_ID}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from XNHB_NEWS_ARTICLETYPE
		where 
			ARTICLETYPE_ID = #{ARTICLETYPE_ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  XNHB_NEWS_ARTICLETYPE
			set 
				CREATEDATETIME = #{CREATEDATETIME},
				CREATEUSER = #{CREATEUSER},
				SEQ = #{SEQ},
				DESCRIPTION = #{DESCRIPTION},
				TYPENAME = #{TYPENAME},
				PID = #{PID},
				LANGUAGE = #{LANGUAGE},
				KEYWORD = #{KEYWORD},
				TYPENUMBER = #{TYPENUMBER},
			ARTICLETYPE_ID = ARTICLETYPE_ID
			where 
				ARTICLETYPE_ID = #{ARTICLETYPE_ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			CREATEDATETIME,	
			CREATEUSER,	
			UPDATEDATETIME,	
			UPDATEUSER,	
			SEQ,	
			DESCRIPTION,	
			TYPENAME,	
			PID,	
			LANGUAGE,	
			KEYWORD,	
			TYPENUMBER,	
			ARTICLETYPE_ID
		from 
			XNHB_NEWS_ARTICLETYPE
		where 
			ARTICLETYPE_ID = #{ARTICLETYPE_ID}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.CREATEDATETIME,	
				a.CREATEUSER,	
				a.UPDATEDATETIME,	
				a.UPDATEUSER,	
				a.SEQ,	
				a.DESCRIPTION,	
				a.TYPENAME,	
				a.PID,	
				a.LANGUAGE,	
				a.KEYWORD,	
				a.TYPENUMBER,	
				a.ARTICLETYPE_ID
		from 
				XNHB_NEWS_ARTICLETYPE a
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.CREATEDATETIME,	
				a.CREATEUSER,	
				a.UPDATEDATETIME,	
				a.UPDATEUSER,	
				a.SEQ,	
				a.DESCRIPTION,	
				a.TYPENAME,	
				a.PID,	
				a.LANGUAGE,	
				a.KEYWORD,	
				a.TYPENUMBER,	
				a.ARTICLETYPE_ID
		from 
				XNHB_NEWS_ARTICLETYPE a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from XNHB_NEWS_ARTICLETYPE
		where 
			ARTICLETYPE_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>