<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RmboperationrecordMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into XNHB_MONEY_RMBOPERATIONRECORD(
			CREATEDATETIME,	
			UPDATEDATETIME,	
			CREATEUSER,	
			UPDATEUSER,	
			KEYWORD,	
			LOGINNAME,	
			USERNICKNAME,	
			USERREALNAME,	
			COLLECTIONBANK,	
			BANKACCOUNT,	
			TRADINGTYPE,	
			STATUS,	
			MONEY,	
			POUNDAGE,	
			BANKADDRESS,	
			AUDITPEOPLE,	
			AUDITDATETIME,	
			DISCRIPTION,	
			RMBOPERATIONRECORD_ID
		) values (
			#{CREATEDATETIME},	
			#{UPDATEDATETIME},	
			#{CREATEUSER},	
			#{UPDATEUSER},	
			#{KEYWORD},	
			#{LOGINNAME},	
			#{USERNICKNAME},	
			#{USERREALNAME},	
			#{COLLECTIONBANK},	
			#{BANKACCOUNT},	
			#{TRADINGTYPE},	
			#{STATUS},	
			#{MONEY},	
			#{POUNDAGE},	
			#{BANKADDRESS},	
			#{AUDITPEOPLE},	
			#{AUDITDATETIME},	
			#{DISCRIPTION},	
			#{RMBOPERATIONRECORD_ID}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from XNHB_MONEY_RMBOPERATIONRECORD
		where 
			RMBOPERATIONRECORD_ID = #{RMBOPERATIONRECORD_ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  XNHB_MONEY_RMBOPERATIONRECORD
			set 
			RMBOPERATIONRECORD_ID = RMBOPERATIONRECORD_ID
			where 
				RMBOPERATIONRECORD_ID = #{RMBOPERATIONRECORD_ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			CREATEDATETIME,	
			UPDATEDATETIME,	
			CREATEUSER,	
			UPDATEUSER,	
			KEYWORD,	
			LOGINNAME,	
			USERNICKNAME,	
			USERREALNAME,	
			COLLECTIONBANK,	
			BANKACCOUNT,	
			TRADINGTYPE,	
			STATUS,	
			MONEY,	
			POUNDAGE,	
			BANKADDRESS,	
			AUDITPEOPLE,	
			AUDITDATETIME,	
			DISCRIPTION,	
			RMBOPERATIONRECORD_ID
		from 
			XNHB_MONEY_RMBOPERATIONRECORD
		where 
			RMBOPERATIONRECORD_ID = #{RMBOPERATIONRECORD_ID}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.CREATEDATETIME,	
				a.UPDATEDATETIME,	
				a.CREATEUSER,	
				a.UPDATEUSER,	
				a.KEYWORD,	
				a.LOGINNAME,	
				a.USERNICKNAME,	
				a.USERREALNAME,	
				a.COLLECTIONBANK,	
				a.BANKACCOUNT,	
				a.TRADINGTYPE,	
				a.STATUS,	
				a.MONEY,	
				a.POUNDAGE,	
				a.BANKADDRESS,	
				a.AUDITPEOPLE,	
				a.AUDITDATETIME,	
				a.DISCRIPTION,	
				a.RMBOPERATIONRECORD_ID
		from 
				XNHB_MONEY_RMBOPERATIONRECORD a
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.CREATEDATETIME,	
				a.UPDATEDATETIME,	
				a.CREATEUSER,	
				a.UPDATEUSER,	
				a.KEYWORD,	
				a.LOGINNAME,	
				a.USERNICKNAME,	
				a.USERREALNAME,	
				a.COLLECTIONBANK,	
				a.BANKACCOUNT,	
				a.TRADINGTYPE,	
				a.STATUS,	
				a.MONEY,	
				a.POUNDAGE,	
				a.BANKADDRESS,	
				a.AUDITPEOPLE,	
				a.AUDITDATETIME,	
				a.DISCRIPTION,	
				a.RMBOPERATIONRECORD_ID
		from 
				XNHB_MONEY_RMBOPERATIONRECORD a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from XNHB_MONEY_RMBOPERATIONRECORD
		where 
			RMBOPERATIONRECORD_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>